<button class="navigation-rail-tab" role="tab" tabindex="this.active ? 0 : -1">
    <span aria-hidden="true" class="icon-container">
        <span class="indicator"></span>
        <span class="indicator-for-ripple">
            <md-ripple class="ripple"></md-ripple>
        </span>
        <span class="icon icon-inactive">
            <ng-content select="[slot='inactive-icon']"></ng-content>
        </span>
        <span class="icon icon-active">
            <ng-content select="[slot='active-icon']"></ng-content>
        </span>
    </span>
    
    <span class="label">
        <ng-content></ng-content>
    </span>

    <md-focus-ring></md-focus-ring>
</button>
