:host {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;

    &>.navigation-rail-tab {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        appearance: none;
        background: none;
        box-sizing: border-box;
        cursor: pointer;
        border: none;
        outline: none;
        height: 100%;
        width: 100%;
        min-height: 48px;
        min-width: 56px;
        padding: 8px 0px 12px;
        position: relative;
        text-align: center;

        &>.icon-container {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            box-sizing: border-box;
            z-index: 1;
            height: 32px;

            &>.indicator {
                position: absolute;
                display: flex;
                justify-content: center;
                transition-duration: 200ms;
                background-color: var(--md-sys-color-secondary-container);
                border-radius: 999px;
            }
            &>.indicator-for-ripple {
                position: absolute;
                display: flex;
                justify-content: center;
                border-radius: 999px;
                height: 32px;
                width: 56px;
            }

            &>.icon {
                width: var(--_icon-size);
                height: var(--_icon-size);
                font-size: var(--_icon-size);
                fill: currentColor;
                align-self: center;
                display: inline-block;
                position: relative;
            }
        }

        &>.label {
            height: 16px;
            margin-top: 4px;
            opacity: 1;
            z-index: 1;
            @apply text-label-medium;
        }

        &:not([active="true"]) {
            .indicator {
                width: 32px;
                height: 32px;
                opacity: 0;
            }
            .icon {
                color: var(--md-sys-color-on-surface);
            }
            .icon.icon-active {
                display: inline-flex;
            }
            .icon.icon-inactive {
                display: none;
            }
            .label {
                color: var(--md-sys-color-on-surface);
            }
        }

        &[active="true"] {
            .indicator {
                opacity: 1;
                height: 32px;
                width: 56px;
            }
            .icon {
                color: var(--md-sys-color-on-secondary-container);
            }
            .icon.icon-inactive {
                display: none;
            }
            .icon.icon-active {
                display: inline-flex;
            }
            .label {
                color: var(--md-sys-color-on-secondary-container);
            }
        }
    }

}

