:host {

    & .color-preview-dialog {
        max-width: calc(100% - 48px);
        max-height: calc(100% - 48px);
        width: 100%;
        height: 100%;

        & .color-preview-dialog-form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;

            overflow: auto;

            @media (max-width: 840px) {
                grid-template-columns: 1fr;
            }

            gap: 32px;
        }
    }
}
