<application-page-page-layout>

    <application-page-header-layout slot="header">
        <span slot="display">Prebuild</span>
        <span slot="body">Pre-provisioned tokens.</span>
    </application-page-header-layout>

    <application-page-content-layout>

        <div class="grid grid-cols-2 gap-3 ">
            <prebuild-theme-preview-card>
                <span slot="title">Ocean</span>
                <span slot="description">Blue.</span>
                <md-toggle-dialog
                    slot="action"
                    #oceanDialog
                >
                    <md-outlined-icon-button slot="action">
                        <md-icon>open_in_new</md-icon>
                    </md-outlined-icon-button>
                    <md-dialog
                        class="color-preview-dialog"
                        slot="dialog"
                        (cancel)="oceanDialog.preventDialogCancel($event)"
                    >
                        <span slot="headline">Ocean</span>
                        <form
                            method="dialog"
                            slot="content"
                            id="ocean-color-preview-form"
                            class="color-preview-dialog-form"
                        >
                            <material-theme-provider
                                #oceanLightTheme
                                [hue]="255"
                                [chroma]="105"
                                [tone]="75"
                                target-attribute-name="ocean-light-theme"
                                ocean-light-theme
                            >
                                <md-components-color-mapping></md-components-color-mapping>
                                <application-pages-color-mapping></application-pages-color-mapping>
                            </material-theme-provider>
                            <material-theme-provider
                                #oceanDarkTheme
                                [hue]="255"
                                [chroma]="105"
                                [tone]="75"
                                target-attribute-name="ocean-dark-theme"
                                [is-dark]="true"
                                ocean-dark-theme
                            >
                                <md-components-color-mapping></md-components-color-mapping>
                                <application-pages-color-mapping></application-pages-color-mapping>
                            </material-theme-provider>
                            <markdown
                                [data]="wrapMdThemeProviderStyleTextToMarkdown(oceanLightTheme.createTheme().cssText()).light"
                                ngPreserveWhitespaces
                                lineNumbers
                                clipboard
                                [clipboardButtonComponent]="clipboardButton"
                            ></markdown>
                            <markdown
                                [data]="wrapMdThemeProviderStyleTextToMarkdown(oceanDarkTheme.createTheme().cssText()).dark"
                                ngPreserveWhitespaces
                                lineNumbers
                                clipboard
                                [clipboardButtonComponent]="clipboardButton"
                            ></markdown>
                        </form>
                        <div slot="actions">
                            <md-text-button
                                type="submit"
                                form="ocean-color-preview-form"
                            >Close</md-text-button>
                        </div>
                    </md-dialog>
                </md-toggle-dialog>
            </prebuild-theme-preview-card>

            <prebuild-theme-preview-card>
                <span slot="title">Fluent</span>
                <span slot="description">Fluent UI color like.</span>
                <md-toggle-dialog
                    slot="action"
                    #fluentDialog
                >
                    <md-outlined-icon-button slot="action">
                        <md-icon>open_in_new</md-icon>
                    </md-outlined-icon-button>
                    <md-dialog
                        class="color-preview-dialog"
                        slot="dialog"
                        (cancel)="fluentDialog.preventDialogCancel($event)"
                    >
                        <span slot="headline">Fluent</span>
                        <form
                            method="dialog"
                            slot="content"
                            id="fluent-color-preview-form"
                            class="color-preview-dialog-form"
                        >
                            <material-theme-provider
                                #fluentLightTheme
                                [enable-dynamic]="true"
                                [hue]="243"
                                [chroma]="57"
                                [tone]="64"
                                [primary-palette]="createTonalPalette(243, 57, 64)"
                                [secondary-palette]="createTonalPalette(230, 40, 40)"
                                [tertiary-palette]="createTonalPalette(243, 30, 20)"
                                [neutral-palette]="createTonalPalette(243, 50, 50)"
                                [neutral-variant-palette]="createTonalPalette(243, 30, 30)"
                                target-attribute-name="fluent-light-theme"
                                fluent-light-theme
                            >
                                <md-components-color-mapping></md-components-color-mapping>
                                <application-pages-color-mapping></application-pages-color-mapping>
                            </material-theme-provider>
                            <material-theme-provider
                                #fluentDarkTheme
                                [enable-dynamic]="true"
                                [hue]="243"
                                [chroma]="57"
                                [tone]="64"
                                [primary-palette]="createTonalPalette(243, 57, 64)"
                                [secondary-palette]="createTonalPalette(230, 40, 40)"
                                [tertiary-palette]="createTonalPalette(243, 30, 20)"
                                [neutral-palette]="createTonalPalette(243, 50, 50)"
                                [neutral-variant-palette]="createTonalPalette(243, 30, 30)"
                                target-attribute-name="fluent-dark-theme"
                                [is-dark]="true"
                                fluent-dark-theme
                            >
                                <md-components-color-mapping></md-components-color-mapping>
                                <application-pages-color-mapping></application-pages-color-mapping>
                            </material-theme-provider>
                            <markdown
                                [data]="wrapMdThemeProviderStyleTextToMarkdown(fluentLightTheme.createTheme().cssText()).light"
                                ngPreserveWhitespaces
                                lineNumbers
                                clipboard
                                [clipboardButtonComponent]="clipboardButton"
                            ></markdown>
                            <markdown
                                [data]="wrapMdThemeProviderStyleTextToMarkdown(fluentDarkTheme.createTheme().cssText()).dark"
                                ngPreserveWhitespaces
                                lineNumbers
                                clipboard
                                [clipboardButtonComponent]="clipboardButton"
                            ></markdown>
                        </form>
                        <div slot="actions">
                            <md-text-button
                                type="submit"
                                form="fluent-color-preview-form"
                            >Close</md-text-button>
                        </div>
                    </md-dialog>
                </md-toggle-dialog>
            </prebuild-theme-preview-card>
        </div>
    </application-page-content-layout>
</application-page-page-layout>
