:host {
    min-height: 100svh;
    max-height: 100svh;
    overflow: hidden;

    display: grid;

    @media (max-width: 600px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }
    @media (min-width: 600px) {
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr;
    }

    &>.content {
        overflow: auto;
        grid-row: 1/2;

        @media (max-width: 600px) {
            grid-column: 1/2;
        }
        @media (min-width: 600px) {
            grid-column: 2/3;
        }
    }
    &>.navigation-rail {
        grid-column: 1/2;
        grid-row: 1/2;
        @media (max-width: 600px) {
            display: none;
        }
        @media (min-width: 600px) {
            display: block;
        }
    }

    &>.bottom-app-bar {
        grid-column: 1/2;
        grid-row: 2/3;
        @media (max-width: 600px) {
            display: block;
        }
        @media (min-width: 600px) {
            display: none;
        }
    }

    background-color: var(--md-sys-color-background);
}
