:host {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

    &>:is(.header-wrapper, .main-wrapper, .footer-wrapper) {
        grid-column: 1/2;
    }

    &>.header-wrapper {
        grid-row: 1/2;
    }

    &>.main-wrapper {
        grid-row: 2/3;
    }

    &>.footer {
        grid-row: 3/4;
    }
}
