:host {
    display: block;
    margin: 0;
    height: var(--_height);
    width: var(--_width);

    --_height: var(--navigation-rail-height, 100%);
    --_width: var(--navigation-rail-width, 74px);
    --_button-width: var(--navigation-rail-button-width, 48px);
    --_button-height: var(--navigation-rail-button-height, 48px);

    /* Layout */
    &>.navigation-rail-root {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;

        &>.start {
            grid-row: 1/2;
        }

        &>.content {
            grid-row: 2/3;
        }

        &>.end {
            grid-row: 3/4;
        }
    }

    &>.navigation-rail-root {
        position: relative;
        height: inherit;
        width: inherit;
        padding-top: 24px;
        padding-bottom: 24px;
        @apply bg-surface-container-low;

        &>.content {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;

            @media (max-width: 840px) {
                justify-content: center;
            }
        }

    }
}
