<div class="navigation-rail-root">
    <span class="start">
        <ng-content select="[slot='start']"></ng-content>
    </span>

    <span class="content">
        @for (link of links; track link.url) {
            <navigation-rail-tab (tab-click)="this.handleTabClick($event, link)" [attr.label]="link.label" [attr.url]="link.url">
                <md-icon slot="active-icon">{{ link.iconString }}</md-icon>
                <md-icon slot="inactive-icon">{{ link.iconString }}</md-icon>
                {{ link.label }}
            </navigation-rail-tab>
        }
    </span>

    <span class="end">
        <ng-content select="[slot='end']"></ng-content>
    </span>

</div>