:host {
    display: inline-flex;
    flex-direction: column;

    &>.hue-slider-color-mapping {
        border-radius: 999px;
        height: 40px;
        border: 1px solid var(--md-sys-color-outline);
    }
}
