<material-theme-provider
    [hue]="this.mdconfig.hue"
    [chroma]="this.mdconfig.chroma"
    [tone]="this.mdconfig.tone"
    [variant]="this.mdconfig.variant"
    [contrast-level]="this.mdconfig.contrastLevel"
    [is-dark]="this.mdconfig.isDark"
    target-attribute-name="md-styles-root-target"
    md-styles-root-target
>
    <product-page-layout>
        <navigation-rail slot="navigation-rail">
            <change-theme-icon-button slot="end" (button-click)="this.handleChangeThemeIconButtonClick($event)"></change-theme-icon-button>
        </navigation-rail>

        <bottom-app-bar slot="bottom-app-bar"></bottom-app-bar>

        <div slot="content">
            <router-outlet></router-outlet>
        </div>
    </product-page-layout>
</material-theme-provider>
