:host {
    display: block;
    width: inherit;
    height: inherit;
    border-radius: 28px;
    padding: 16px;

    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 0px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
    gap: 16px;

    @apply bg-secondary-container;

    &>.display {
        grid-row: 1/2;
        padding-left: 6px;
        padding-right: 6px;
        @apply text-display-medium text-on-secondary-container;
    }

    &>.body {
        grid-row: 2/3;
        padding-left: 6px;
        padding-right: 6px;
        @apply text-title-medium text-on-secondary-container;
    }

    &>.anther {
        grid-row: 3/4;
    }
}
