<div class="full-screen">
    <div class="card">
        <md-icon class="headline-icon">error</md-icon>
        <span class="headline">Page not found</span>
        <span class="body">This may be due to typing the wrong URL, please check the URL.</span>
        <div class="action">
            <md-text-button (click)="handleRedirectButtonClick()">
                Redirect
                <md-icon slot="icon">prompt_suggestion</md-icon>
            </md-text-button>
        </div>
    </div>

</div>
