:host {
    display: grid;

    &>div>div {
        height: 32px;
        @apply text-body-small flex justify-start items-center pl-4;
    }

    &>div>.tl-shape {
        border-top-left-radius: 24px;
    }

    &>div>.tr-shape {
        border-top-right-radius: 24px;
    }

    &>div>.bl-shape {
        border-bottom-left-radius: 24px;
    }

    &>div>.br-shape {
        border-bottom-right-radius: 24px;
    }
}
