
<div class="grid grid-cols-4">
    <div class="bg-primary text-on-primary tl-shape">primary</div>
    <div class="bg-secondary text-on-secondary">secondary</div>
    <div class="bg-tertiary text-on-tertiary">tertiary</div>
    <div class="bg-error text-on-error tr-shape">error</div>
</div>

<div class="grid grid-cols-4">
    <div class="bg-primary-container text-on-primary-container">primary container</div>
    <div class="bg-secondary-container text-on-secondary-container">secondary container</div>
    <div class="bg-tertiary-container text-on-tertiary-container">tertiary container</div>
    <div class="bg-error-container text-on-error-container">error container</div>
</div>

<div class="grid grid-cols-5">
    <div class="bg-surface-dim text-on-surface">surface-dim</div>
    <div class="bg-surface text-on-surface">surface</div>
    <div class="bg-surface-bright text-on-surface">surface-bright</div>
    <div class="bg-surface-variant text-on-surface-variant">surface-variant</div>
    <div class="bg-surface-tint text-inverse-on-surface">surface-tint</div>
</div>

<div class="grid grid-cols-1 grid-rows-5">
    <div class="text-on-surface bg-surface-container-lowest">surface-container-lowest</div>
    <div class="text-on-surface bg-surface-container-low">surface-container-low</div>
    <div class="text-on-surface bg-surface-container">surface-container</div>
    <div class="text-on-surface bg-surface-container-high">surface-container-high</div>
    <div class="text-on-surface bg-surface-container-highest">surface-container-highest</div>
</div>

<div class="grid grid-cols-4">
    <div class="text-surface-bright bg-outline">outline</div>
    <div class="text-on-surface bg-outline-variant">outline variant</div>
    <div class="text-white bg-shadow">shadow</div>
    <div class="text-white bg-scrim">scrim</div>
</div>

<div class="grid grid-cols-3">
    <div class="text-on-primary-fixed bg-primary-fixed">primary-fixed</div>
    <div class="text-on-primary-fixed-variant bg-primary-fixed-dim">primary-fixed-dim</div>
    <div class="text-on-primary-fixed bg-inverse-primary">inverse-primary</div>
</div>

<div class="grid grid-cols-2">
    <div class="text-on-secondary-fixed bg-secondary-fixed">secondary-fixed</div>
    <div class="text-on-secondary-fixed-variant bg-secondary-fixed-dim">secondary-fixed-dim</div>
    <div class="text-on-tertiary-fixed bg-tertiary-fixed bl-shape">tertiary-fixed</div>
    <div class="text-on-tertiary-fixed-variant bg-tertiary-fixed-dim br-shape">tertiary-fixed-dim</div>
</div>
