<application-page-page-layout>

    <application-page-header-layout slot="header">
        <span slot="display">Build with Dynamic</span>
        <span slot="body">A set of highly customized tokens built from primary, secondary, tertiary, neutral, and neutral variants.</span>
    </application-page-header-layout>

    <application-page-content-layout>
        <form method="dialog" class="material-configuration-form">
            <md-filled-select label="Variant" class="variant-selector" (change)="handleVariantSelectChange($event)">
                @for(variantName of variants; track $index) {
                    <md-select-option [value]="$index" [selected]="$index === variant">
                        <span>{{ variantName }}</span>
                    </md-select-option>
                }
            </md-filled-select>

            <md-filled-text-field label="Contrast Level" class="contrast-level-input" type="number" step="0.1" max="1" min="-1" [value]="contrastLevel" (input)="handleContrastLevelChange($event)"></md-filled-text-field>

            <div class="dynamic-palette-selector">
                <md-toggle-dialog #primaryDialog>
                    <div class="color-preview-box" [style.background-color]="primaryColorHexComputed()">
                        <md-elevation></md-elevation>
                    </div>
                    <md-dialog slot="dialog" class="palette-dialog">
                        <span slot="headline">Primary Palette</span>
                        <form method="dialog" slot="content" id="primary-palette-form">
                            <div class="color-preview-box" [style.background-color]="primaryColorHexComputed()"></div>
                            <hue-slider class="hue-slider" (slider-change)="handleHueSliderChange('primaryKeyColor', $event)"></hue-slider>
                            <chroma-slider  class="chroma-slider"[hue]="primaryKeyColor().hue" (slider-change)="handleChromaSliderChange('primaryKeyColor', $event)"></chroma-slider>
                            <tone-slider class="tone-slider" [hueAndChroma]="[primaryKeyColor().hue, primaryKeyColor().chroma]" (slider-change)="handleToneSliderChange('primaryKeyColor', $event)"></tone-slider>
                        </form>
                        <div slot="actions">
                            <md-text-button type="submit" form="primary-palette-form">Ok</md-text-button>
                        </div>
                    </md-dialog>
                </md-toggle-dialog>

                <md-toggle-dialog #secondaryDialog>
                    <div class="color-preview-box" [style.background-color]="secondaryColorHexComputed()">
                        <md-elevation></md-elevation>
                    </div>
                    <md-dialog slot="dialog" class="palette-dialog">
                        <span slot="headline">Secondary Palette</span>
                        <form method="dialog" slot="content" id="secondary-palette-form">
                            <div class="color-preview-box" [style.background-color]="secondaryColorHexComputed()"></div>
                            <hue-slider class="hue-slider" (slider-change)="handleHueSliderChange('secondaryKeyColor', $event)"></hue-slider>
                            <chroma-slider  class="chroma-slider"[hue]="secondaryKeyColor().hue" (slider-change)="handleChromaSliderChange('secondaryKeyColor', $event)"></chroma-slider>
                            <tone-slider class="tone-slider" [hueAndChroma]="[secondaryKeyColor().hue, secondaryKeyColor().chroma]" (slider-change)="handleToneSliderChange('primaryKeyColor', $event)"></tone-slider>
                        </form>
                        <div slot="actions">
                            <md-text-button type="submit" form="secondary-palette-form">Ok</md-text-button>
                        </div>
                    </md-dialog>
                </md-toggle-dialog>

                <md-toggle-dialog #tertiaryDialog>
                    <div class="color-preview-box" [style.background-color]="tertiaryColorHexComputed()">
                        <md-elevation></md-elevation>
                    </div>
                    <md-dialog slot="dialog" class="palette-dialog">
                        <span slot="headline">Tertiary Palette</span>
                        <form method="dialog" slot="content" id="tertiary-palette-form">
                            <div class="color-preview-box" [style.background-color]="tertiaryColorHexComputed()"></div>
                            <hue-slider class="hue-slider" (slider-change)="handleHueSliderChange('tertiaryKeyColor', $event)"></hue-slider>
                            <chroma-slider  class="chroma-slider"[hue]="tertiaryKeyColor().hue" (slider-change)="handleChromaSliderChange('tertiaryKeyColor', $event)"></chroma-slider>
                            <tone-slider class="tone-slider" [hueAndChroma]="[tertiaryKeyColor().hue, tertiaryKeyColor().chroma]" (slider-change)="handleToneSliderChange('tertiaryKeyColor', $event)"></tone-slider>
                        </form>
                        <div slot="actions">
                            <md-text-button type="submit" form="tertiary-palette-form">Ok</md-text-button>
                        </div>
                    </md-dialog>
                </md-toggle-dialog>

                <md-toggle-dialog #neutralDialog>
                    <div class="color-preview-box" [style.background-color]="neutralColorHexComputed()">
                        <md-elevation></md-elevation>
                    </div>
                    <md-dialog slot="dialog" class="palette-dialog">
                        <span slot="headline">Neutral Palette</span>
                        <form method="dialog" slot="content" id="neutral-palette-form">
                            <div class="color-preview-box" [style.background-color]="neutralColorHexComputed()"></div>
                            <hue-slider class="hue-slider" (slider-change)="handleHueSliderChange('neutralKeyColor', $event)"></hue-slider>
                            <chroma-slider  class="chroma-slider"[hue]="neutralKeyColor().hue" (slider-change)="handleChromaSliderChange('neutralKeyColor', $event)"></chroma-slider>
                            <tone-slider class="tone-slider" [hueAndChroma]="[neutralKeyColor().hue, neutralKeyColor().chroma]" (slider-change)="handleToneSliderChange('neutralKeyColor', $event)"></tone-slider>
                        </form>
                        <div slot="actions">
                            <md-text-button type="submit" form="neutral-palette-form">Ok</md-text-button>
                        </div>
                    </md-dialog>
                </md-toggle-dialog>

                <md-toggle-dialog #neutralVariantDialog>
                    <div class="color-preview-box" [style.background-color]="neutralVariantColorHexComputed()">
                        <md-elevation></md-elevation>
                    </div>
                    <md-dialog slot="dialog" class="palette-dialog">
                        <span slot="headline">Neutral Variant Palette</span>
                        <form method="dialog" slot="content" id="neutral-variant-palette-form">
                            <div class="color-preview-box" [style.background-color]="neutralVariantColorHexComputed()"></div>
                            <hue-slider class="hue-slider" (slider-change)="handleHueSliderChange('neutralVariantKeyColor', $event)"></hue-slider>
                            <chroma-slider  class="chroma-slider"[hue]="neutralVariantKeyColor().hue" (slider-change)="handleChromaSliderChange('neutralVariantKeyColor', $event)"></chroma-slider>
                            <tone-slider class="tone-slider" [hueAndChroma]="[neutralVariantKeyColor().hue, neutralVariantKeyColor().chroma]" (slider-change)="handleToneSliderChange('neutralVariantKeyColor', $event)"></tone-slider>
                        </form>
                        <div slot="actions">
                            <md-text-button type="submit" form="neutral-variant-palette-form">Ok</md-text-button>
                        </div>
                    </md-dialog>
                </md-toggle-dialog>
            </div>

        </form>

        <div class="mt-6 grid grid-cols-1 large:grid-cols-2 extra-large:grid-cols-2 gap-4">
            <material-theme-provider
                target-attribute-name="md-light-theme-scoped-target"
                style-class-name="md-light-theme-scoped"
                [hue]="sourceColor().hue"
                [chroma]="sourceColor().chroma"
                [tone]="sourceColor().tone"
                [enable-dynamic]="true"
                [primary-palette]="primaryTonalPaletteComputed()"
                [secondary-palette]="secondaryTonalPaletteComputed()"
                [tertiary-palette]="tertiaryTonalPaletteComputed()"
                [neutral-palette]="neutralTonalPaletteComputed()"
                [neutralVariant-palette]="neutralVariantTonalPaletteComputed()"
                [variant]="variant"
                [contrast-level]="contrastLevel"
                [is-dark]="false"
                (theme-change)="handleMaterialThemeProviderThemeChange('light', $event)"
                #lightScoped
            >
                <div class="color-mapping" md-light-theme-scoped-target>
                    <md-components-color-mapping></md-components-color-mapping>
                    <application-pages-color-mapping></application-pages-color-mapping>
                </div>
            </material-theme-provider>

            <material-theme-provider
                target-attribute-name="md-dark-theme-scoped-target"
                style-class-name="md-dark-theme-scoped"
                [hue]="sourceColor().hue"
                [chroma]="sourceColor().chroma"
                [tone]="sourceColor().tone"
                [enable-dynamic]="true"
                [primary-palette]="primaryTonalPaletteComputed()"
                [secondary-palette]="secondaryTonalPaletteComputed()"
                [tertiary-palette]="tertiaryTonalPaletteComputed()"
                [neutral-palette]="neutralTonalPaletteComputed()"
                [neutralVariant-palette]="neutralVariantTonalPaletteComputed()"
                [variant]="variant"
                [contrast-level]="contrastLevel"
                [is-dark]="true"
                (theme-change)="handleMaterialThemeProviderThemeChange('dark', $event)"
            >
                <div class="color-mapping" md-dark-theme-scoped-target>
                    <md-components-color-mapping></md-components-color-mapping>
                    <application-pages-color-mapping></application-pages-color-mapping>
                </div>
            </material-theme-provider>

            <markdown [data]="lightThemeMarkdownDataComputed()" ngPreserveWhitespaces lineNumbers clipboard [clipboardButtonComponent]="clipboardButton"></markdown>

            <markdown [data]="darkThemeMarkdownDataComputed()" ngPreserveWhitespaces lineNumbers clipboard [clipboardButtonComponent]="clipboardButton"></markdown>

        </div>


    </application-page-content-layout>
</application-page-page-layout>
