<div class="flex gap-1">
    <md-filled-button type="button">
        Filled
        <md-icon slot="icon">add</md-icon>
    </md-filled-button>
    <md-filled-tonal-button type="button">
        Filled Tonal
        <md-icon slot="icon">add</md-icon>
    </md-filled-tonal-button>
    <md-elevated-button type="button">
        Filled Tonal
        <md-icon slot="icon">add</md-icon>
    </md-elevated-button>
    <md-outlined-button type="button">
        Filled Tonal
        <md-icon slot="icon">add</md-icon>
    </md-outlined-button>
    <md-text-button type="button">
        Filled Tonal
        <md-icon slot="icon">add</md-icon>
    </md-text-button>
</div>

<div class="grid grid-rows-2 grid-cols-4 w-fit gap-1">
    <md-switch></md-switch>
    <md-switch disabled></md-switch>
    <md-switch selected></md-switch>
    <md-switch selected disabled></md-switch>

    <md-radio></md-radio>
    <md-radio disabled></md-radio>
    <md-radio checked></md-radio>
    <md-radio checked disabled></md-radio>
</div>

<div class="flex gap-1">
    <md-fab label="Fab Extended">
        <md-icon slot="icon">add</md-icon>
    </md-fab>
    <md-linear-progress indeterminate></md-linear-progress>
    <span>
        <md-circular-progress indeterminate></md-circular-progress>
    </span>
    <md-navigation-bar>
        <md-navigation-tab label="Tab 1">
            <md-icon slot="active-icon">send</md-icon>
            <md-icon slot="inactive-icon">send</md-icon>
        </md-navigation-tab>
        <md-navigation-tab label="Tab 2">
            <md-icon slot="active-icon">send</md-icon>
            <md-icon slot="inactive-icon">send</md-icon>
        </md-navigation-tab>
    </md-navigation-bar>
</div>
